body {
    font-family: 'Orbitron', sans-serif;
    height: 100vh;
    background: linear-gradient(45deg, #0A4D68 40%, #088395 40%);
}

.box {
    width: 40%;
    background-color: #05BFDB;
    box-shadow: 5px 5px 5px #00000020;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 100px auto;
}

#heading {
    font-size: 1.2rem;
    background-color: #0A4D68;
    color: #05BFDB;
    justify-content: center;
    align-items: center;
}

.item {
    padding: 20px;
    font-size: 1.2rem;
    font-style: italic;
    margin: 0;
    border-bottom: 1px solid #0A4D6880;
}

.item:last-child {
    border-bottom: 0px;
}

input[type="checkbox"] {
    margin: 10px;
}

form {
    display: flex;
    justify-content: end;
}

.form {
    padding: 0px !important;
}

input[type="text"] {
    background-color: transparent;
    border: none;
}

input,
input:focus,
input:hover,
input:active {
    outline: none;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 5px #0A4D68;
    border-bottom-style: dashed;
}

button[name="reset"] {
    font-size: 1.15rem;
    background-color: #0A4D68;
    border: none;
    color: #05BFDB;
    height: 100px;
    width: 100px;
}

button[name="list"] {
    font-size: 2rem;
    background-color: #0A4D68;
    border: none;
    color: #05BFDB;
    height: 100px;
    width: 100px;
}

p {
    margin: 10px 20px;
    display: inline-block;
}

input:checked+p {
    text-decoration: line-through;
    text-decoration-color: #0A4D68;
    text-decoration-thickness: 3px;
}

#text {
    font-family: 'Orbitron', sans-serif;
    font-size: 1 rem;
    width: calc(100% - 200px);
    text-align: center;
    margin: 10px;
}

::placeholder {
    color: #0A4D68;
    opacity: 1;
}